# Data Types and Structures Questions

1. What are data structures, and why are they important?
   - Data structures are ways to organize and store data. They’re important because they make it easier and faster to work with data.

2. Explain the difference between mutable and immutable data types with examples?
   - Mutable => can be changed/modified after creation.
     - Example: list = [1,2,3] → I can change list[0] = 10.

   - Immutable => cannot be changed/modified after creation.
     - Example: string = "hello" → I cannot change string[0] = "H".

3. What are the main differences between lists and tuples in Python?
   - Lists: mutable (can be changed), written with [].
   - Tuples: immutable (cannot be changed), written with ().

4. Describe how dictionaries store data?
   - Dictionaries store data in key: value pairs.
     - Example: {"name": "Umang", "age": 25}.
   - Keys are unique and are used to quickly find values.

5. Why might you use a set instead of a list in Python?
   - Sets automatically remove duplicates and are faster for checking if an item exists.

6. What is a string in Python, and how is it different from a list?
   - A string is a sequence of characters enclosed with sinlge/double quotes.
     - Ex = 'Hello'
   - Lists are used to store multiple items in a single variable. A list can   
     hold many types (numbers, strings, etc.). They are defined by enclosing comma-separated elements within square brackets [].
      - Ex = ['Hello', 1, 2.7, 3+5j]
   - Strings are immutable while Lists are mutable.

7. How do tuples ensure data integrity in Python?
   - Tuples cannot be changed (immutable) which ensures data stays safe and
     unchanged.

8. What is a hash table, and how does it relate to dictionaries in Python?
   - A hash table is a data structure that stores data in key–value pairs.
   - It uses a hash function to convert the key (like "name") into an index (a number) that points to where the value is stored in memory.
   - This makes searching for data very fast because instead of looking through the whole list, Python jumps directly to the memory location.

   - Python’s dictionaries (dict) are implemented using hash tables.

     - my_dict = {"name": "Umang", "age": 25}.
       The key "name" is hashed => gives an index => "Umang" is stored at that index. Same for "age".

9. Can lists contain different data types in Python?
    - Yes, a list can hold multiple data types like strings, numbers, floats,
     complex numbers, boolean, sets, tuples, etc.
      - Ex : [1, "hello", 3.5, True].

10. Explain why strings are immutable in Python.
    - Strings are immutable which makes them safe and efficient.
    - Changing / modifying a string creates a new string but the original string
     remains unchanged.

11. What advantages do dictionaries offer over lists for certain tasks?
    - Dictionaries are better when you need to search by a key quickly.
    - For example, finding someone’s phone number by their name.

12. Describe a scenario where using a tuple would be preferable over a list.
    - If I want to store fixed data like employee id which   
      never changes, I will use a tuple.

13. How do sets handle duplicate values in Python?
    - Sets automatically remove duplicates.
      - Example: {1,2,2,3} → {1,2,3}.

14. How does the “in” keyword work differently for lists and dictionaries?
    - For lists: checks if a value exists => 3 in [1,2,3].
    - For dictionaries: checks if a key exists => "name" in {"name": "Umang"}.

15. Can you modify the elements of a tuple? Explain why or why not.
    - No, because tuples are immutable. Once created, their elements cannot be
      changed.

16. What is a nested dictionary, and give an example of its use case.
    - A dictionary inside another dictionary. Example:
      - Ex  =>  storing structured data like student details.

        students = {
          "A": {"name": "Rahul", "age": 20},
          "B": {"name": "Priya", "age": 22}
        }

17. Describe the time complexity of accessing elements in a dictionary.
    - Time complexity is usually O(1) (constant time). Because of this  
      dictionary are fast.

18. In what situations are lists preferred over dictionaries?
    - We use lists when order matters and we just need a collection of items  
      without keys.
      -  Example: storing a list of names.
    - We use dictionaries when need to store data as key-value pair.
      -  Example: storing details of employees.

19. Why are dictionaries considered unordered, and how does that affect data
     retrieval?  
    - Before Python 3.7, dictionaries didn’t guarantee order. That
      means items were not stored in the same sequence you added them.
      Dictionaries primary purpose is fast, key-based access, not maintaining the order of insertion.
    - But since Python 3.7+, they maintain insertion order. Retrieval is still
      by key, not position.

20. Explain the difference between a list and a dictionary in terms of data
     retrieval.
    - List: access by index → list[0].
    - Dictionary: access by key → dict["name"].

# Practical Questions

In [3]:
#1 Write a code to create a string with your name and print it.

name = 'Umang Jain'
print(name)

Umang Jain

In [4]:
#2 Write a code to find the length of the string "Hello World".

my_string = "Hello World"
print(len(my_string))

11

In [5]:
#3 Write a code to slice the first 3 characters from the string "Python Programming".

my_string = "Python Programming"
print(my_string[:3])

Pyt

In [6]:
#4 Write a code to convert the string "hello" to uppercase.

my_string = "hello"
print(my_string.upper())

HELLO

In [7]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

my_string = "I like apple"
print(my_string.replace("apple", "orange"))

I like orange

In [8]:
#6 Write a code to create a list with numbers 1 to 5 and print it.

my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [10]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [11]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [12]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
print(my_list[::-1])

[50, 40, 30, 20, 10]

In [13]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it.

my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [14]:
#12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

color = ('red', 'green', 'blue', 'yellow')
second_last = color[-2]
print(second_last)

blue

In [16]:
#13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [18]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [21]:
#15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
  print('Yes, kiwi is available in fruits.')
else:
  print('No, kiwi is not available in fruits.')

No, kiwi is not available in fruits.

In [23]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [24]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [25]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [26]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [27]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.intersection(set2)
print(set3)

{2, 3}

In [28]:
#21 Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {"name": "Umang", "age": 25, "city": "Delhi"}
print(my_dict)

{'name': 'Umang', 'age': 25, 'city': 'Delhi'}

In [29]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [30]:
#23 Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

my_dict = {'name': 'Alice', 'age': 30}
print(my_dict['name'])

Alice

In [31]:
#24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [41]:
#25 Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict.keys():
  print('city is a key in the dictionary.')
else:
  print('city is not a key in the dictionary.')

city is a key in the dictionary.

In [34]:
#26 Write a code to create a list, a tuple, and a dictionary, and print them all.

my_list = [1,2,3]
my_tuple = (1,2,3)
my_dict = {"name": "Umang", "age": 25}

print('List:', my_list)
print('Tuple:', my_tuple)
print('Dictionary:', my_dict)

List: [1, 2, 3]
Tuple: (1, 2, 3)
Dictionary: {'name': 'Umang', 'age': 25}

In [36]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

import random
numbers = []
for i in range(5):
  numbers.append(random.randint(1,100))
numbers.sort()
print(numbers)

[39, 53, 75, 86, 97]

In [37]:
#28 Write a code to create a list with strings and print the element at the third index.

my_list = ['Hello', 'World', 'Python', 'Programming']
print(my_list[3])

Programming

In [38]:
#29 Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = dict1 | dict2
print(dict3)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [40]:
#30 Write a code to convert a list of strings into a set.

my_list = ['apple', 'banana', 'orange', 'apple', 'orange']
my_set = set(my_list)
print(my_set)

{'banana', 'orange', 'apple'}